<div id="apps">

</div>
<div id="taskbar">
    <button id="apps">
        <span class="logo">L</span>
    </button>
    <ul class="taskbar-app-strip">
        <TaskButton AppTitle="Sample1" />
        <TaskButton AppTitle="Sample2" />
        <TaskButton AppTitle="Sample3" />
        @foreach (TaskButton button in CurrentTasks)
        {
            @button
        }
    </ul>
    <div class="taskbar-clock">
        @ClockDateTime.ToString("yyyy-MM-dd HH:mm")
    </div>
</div>

@code {
    List<TaskButton> CurrentTasks = new ();
    System.Timers.Timer Timer     = new ();
    DateTime ClockDateTime = DateTime.Now;

    protected override Task OnInitializedAsync()
    {
        Timer.Interval = 1000;
        Timer.Elapsed += (_, _) =>
        {
            ClockDateTime = DateTime.Now;
            StateHasChanged();
        };
        Timer.Start();

        return base.OnInitializedAsync();
    }

}
