<div class="window" style="@WindowStyle">
    <div class="window-header"
         draggable="@(!IsFullscreen)"

         @ondragstart="Window_OnDragStart"
         
         @ondrag="Window_OnDrag"
         @ondrag:preventDefault="!IsFullscreen"

         @ondragend="Window_OnDragEnd"

         @ondblclick="Window_ToggleFullscreen">
        <p class="window-header-text">@Title</p>
        <div class="window-header-buttons">
            <button @onclick="Window_Minimize">
                
            </button>
            <button @onclick="Window_ToggleFullscreen">

            </button>
            <button @onclick="Window_Close">

            </button>
        </div>
    </div>
    <div class="window-body">
        @AppFragment()
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool IsFullscreen { get; set; }

    [Parameter]
    public bool IsMinimized { get; set; }

    [Parameter]
    public Type App { get; set; }

    public bool IsMoving { get; set; }
    public double MoveOffsetX { get; set; }
    public double MoveOffsetY { get; set; }

    private RenderFragment AppFragment() => builder =>
    {
        builder.OpenComponent(0, App);
        builder.CloseComponent();
    };

    [Parameter]
    public double X { get; set; }

    [Parameter]
    public double Y { get; set; }

    [Parameter]
    public double Height { get; set; } = 100;

    [Parameter]
    public double Width { get; set; } = 200;

    private string _X => IsFullscreen ? "0" : $"{X}px";
    private string _Y => IsFullscreen ? "0" : $"{Y}px";

    private string _Height => IsFullscreen ? "calc(100% - 40px)" : $"{Height}px";
    private string _Width => IsFullscreen ? "100%" : $"{Width}px";

    private string WindowStyle =>
        $"left:{_X};top:{_Y};" +
        $"width:{_Width};height:{_Height};" +
        (IsFullscreen ? "box-shadow: 0" : "");

    public void Window_OnTitlebarClicked(EventArgs e)
    {

    }

    public void Window_OnDragStart(MouseEventArgs e)
    {
        MoveOffsetX = e.OffsetX;
        MoveOffsetY = e.OffsetY;
    }

    public void Window_OnDrag(MouseEventArgs e)
    {
        X = e.ClientX - MoveOffsetX;
        Y = e.ClientY - MoveOffsetY;
    }

    public void Window_OnDragEnd(MouseEventArgs e)
    {
        X = e.ClientX - MoveOffsetX;
        Y = e.ClientY - MoveOffsetY;
    }

    public void Window_Minimize(EventArgs e)
    {

    }

    public void Window_ToggleFullscreen(EventArgs e)
    {
        IsFullscreen = !IsFullscreen;
    }

    public void Window_Close(EventArgs e)
    {

    }
}
