* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { min-height: 100%; height: 100%; width: 100% }

#app {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* sample wallper for testing purpose. 
       must be removed after flexible wallpaper feature is completed*/
    background: url('sample_wallpaper.jpg') center no-repeat;
    background-size: cover;

    .window {
        position: absolute;
        border: 1px solid #000;
        border-radius: 3px;
        box-shadow: rgba(0,0,0,0.6) 0px 4px 4px;
        min-width: 50px;
        min-height: 50px;

        .window-header {
            display: flex;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;

            .window-header-text {
                padding: 0 10px;
                font-size: 16px;
                line-height: 30px;
                margin-right: auto;
                pointer-events: none;
            }

            .window-header-buttons {
                display: flex;
                justify-content: center;

                button {
                    height: 20px;
                    width: 35px;
                    border: 0;
                    border-radius: 0;
                    background: transparent;
                    color: #aaa;
                }

                button:hover {
                    background: rgba(100, 100, 100, 0.8);

                }

                button:active {
                }
            }
        }

        .window-body {
            background: #fff;
            /* titlebar = 30px */
            height: calc(100% - 30px);
            width: 100%;
            overflow: auto;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }

    #taskbar {
        position: absolute;
        display: flex;
        left: 0;
        bottom: 0;
        height: 40px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);

        button {
            display: flex;
            color: #fff;
            background: transparent;
            border: 0;
            align-items: center;
            padding: 0 10px;
            transition: 0.1s;
        }

        #apps {
            height: 100%;
            width: 40px;
            padding: 0;
            justify-content: center;
            font-size: 24px;
            font-weight: bolder;

            .logo {
                transform: rotate(-45deg);
            }
        }

        button:hover {
            background: rgba(100, 100, 100, 0.8);
            color: #fff;

            transition: 0.1s;
            cursor: pointer;
        }

        button:active {
            background: rgba(40, 40, 40);
        }

        .taskbar-app-strip {
            display: flex;
            align-items: center;
            margin-right: auto;

            button {
                display: flex;
                margin: 3px 2px;
                height: calc(100% - 6px);
            }
        }

        .taskbar-clock {
            background: transparent;
            color: #fff;
            height: 40px;
            padding: 0 15px;
            line-height: 40px;
        }
    }
}