@inject IJSRuntime JSRuntime

<div class="window" id="@Id">
    <div class="window-header">
        <p class="window-header-text">@Title</p>
        <div class="window-header-buttons">
            <button>
                
            </button>
            <button @onclick="Window_ToggleFullscreen">

            </button>
            <button @onclick="Window_Close">

            </button>
        </div>
    </div>
    <div class="window-body">
        @AppFragment()
    </div>
</div>

@code {
    public string Id;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool IsFullscreen { get; set; }

    [Parameter]
    public bool IsMinimized { get; set; }

    [Parameter]
    public Type App { get; set; }

    public bool IsMoving { get; set; }
    public double MoveOffsetX { get; set; }
    public double MoveOffsetY { get; set; }

    private RenderFragment AppFragment() => builder =>
    {
        builder.OpenComponent(0, App);
        builder.CloseComponent();
    };

    [Parameter]
    public double X { get; set; }

    [Parameter]
    public double Y { get; set; }

    [Parameter]
    public double Height { get; set; } = 100;

    [Parameter]
    public double Width { get; set; } = 200;

    private string _X => IsFullscreen ? "0" : $"{X}px";
    private string _Y => IsFullscreen ? "0" : $"{Y}px";

    private string _Height => IsFullscreen ? "calc(100% - 40px)" : $"{Height}px";
    private string _Width => IsFullscreen ? "100%" : $"{Width}px";

    protected override async Task OnInitializedAsync()
    {
        Id = "Window-x";
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            var window = JSRuntime.InvokeAsync<object>("CreateWindow", 
            new
            {
                id = Id,
                width = _Width,
                height = _Height
            });
        }

        await base.OnAfterRenderAsync(firstRender);
    }



    public void Window_ToggleFullscreen(EventArgs e)
    {
        IsFullscreen = !IsFullscreen;
    }

    public void Window_Close(EventArgs e)
    {

    }
}
